services:
  app:
    build: .
    ports:
      - "3000:3000"
    stdin_open: true
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: package.json
    depends_on:
      - db

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db

volumes:
  db-data:
