services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: package.json
