:root {
  --background: #000000;
  --foreground: #ffffff;
  --dark-blue: #0000ff;
}

head {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
}