@import "tailwindcss";

:root {
  --background: #444444;
  --foreground: #e7a707;
}

head {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}